{% extends '/project/proj_base.html.twig' %}

{% block title %}Project Kmom10{% endblock %}

{% block body %}

<div class="container">
    <div class="left-column">
        <h2>Current round</h2>
        <p>{{ state }}</p>
        <h2>Pott</h2>
        <p>{{ pot }} kr</p>
        <h2>Händelser</h2>
        <table>
        {% for event in events %}
            <tr>
                <td>{{ event | raw }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="right-column">
        <h2>Spelare</h2>
        <ul>
        {% for player in players %}
            <li>{{ player.name }}
                <p>
                {% if canDraw %}
                    {% set class = "interactive-card" %}
                {% else %}
                    {% set class = "" %}
                {% endif %}
                {% if player.name == "Jag" or state == "SHOWDOWN" %}
                    {% for card in player.hand %}
                        <span data-card="{{ loop.index0 }}" class="{{ class }} {{ card.suit | lower }}">{{ card | raw }}</span> &nbsp;
                    {% endfor %}
                {% else %}
                    {% for card in player.hand %}
                        <span class="card-back">&#x1F0A0;</span> &nbsp;
                    {% endfor %}
                {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>
        <form action="{{ path('project_game') }}" method="POST">
        {% if state == "ANTE" %}
            <input type="submit" value="Satsa 10 kr">
        {% elseif state == "DEALING" %}
            <input type="submit" value="Dela ut kort">
        {% elseif state == "FIRST_BETTING_ROUND" or state == "SECOND_BETTING_ROUND" %}
        {% if canCheck %}
            <button type="submit" value="check" name="action">Check</button>
        {% endif %}
        {% if canBet %}
            <button type="submit" value="bet" name="action">Bet</button>
        {% endif %}
        {% if canCall %}
            <button type="submit" value="call" name="action">Call</button>
        {% endif %}
        {% if canFold %}
            <button type="submit" value="fold" name="action">Fold</button>
        {% endif %}
        {% if currentPlayer.name != "Jag" %}
            <button type="submit" name="action" value="computer_turn">Datorns tur</button>
        {% endif %}
        {% elseif state == "DRAW" %}
        {% if canDraw %}
            <input type="hidden" name="selectedCards" id="selectedCards">
            <button type="submit" value="stand_pat" name="action">Stand pat</button>
            <button type="submit" value="swap" name="action">Swap</button>
        {% endif %}
        {% if currentPlayer.name != "Jag" %}
            <button type="submit" name="action" value="computer_turn">Datorns tur</button>
        {% endif %}
        {% endif %}
        </form>
        {% if state == "SHOWDOWN" %}
            <form action="{{ path('project_game') }}">
                <input type="submit" value="New game">
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
