
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}" />
        {% block stylesheets %}
        {{ 
            encore_entry_link_tags('project') 
        }}
        {% endblock %}
        {% block javascripts %}
        {{
            encore_entry_script_tags("project")
        }}
        {% block importmap %}{{
            importmap("project")
        }}{% endblock %} {% endblock %}
        <script src="script.js"></script>
    </head>

    <body>
        <header class="site-header">
            <span class="site-title">5-kortspoker</span>
        </header>
        <div class="content-wrapper">
        <nav>
            <ul>
                <li><a href="{{ path('project') }}">Home</a></li>
                <li><a href="{{ path('project_about') }}">About</a></li>
                <li><a href="{{ path('project_api') }}">API</a></li>
                <li><a href="{{ path('project_report') }}">Report</a></li>
            </ul>
        </nav>
        <div class="full-height-border"></div>
        <main>
            {% block body %}{% endblock %}
        </main>
        </div>
        <footer>
            <div class="footer-wrapper">
                <div class="footer">
                </div>
        </footer>
    </body>
</html>
